@using Finoaker.Web.Recaptcha
@using Microsoft.Extensions.Options
@using SampleCode
@model SampleModel
@addTagHelper *, Finoaker.Web.Recaptcha
@{
    // AspNetCore retrieve settings from the ServiceCollection.
    var settings = ((IOptions<RecaptchaSettings>)ViewContext.HttpContext.RequestServices.GetService(typeof(IOptions<RecaptchaSettings>))).Value;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Recaptcha Demo</title>
</head>
<body>
    <h1>Contact Us</h1>
    <form asp-controller="SampleV3" asp-action="RecaptchaV3Demo" method="post">
        @Html.AntiForgeryToken()

        <div class="form-field-container">
            <label asp-for="Name"></label>
            <input asp-for="Name" type="text" />
        </div>

        <div class="form-field-container">
            <label asp-for="Email"></label>
            <input asp-for="Email" type="email" />
        </div>

        <div class="form-field-container">
            <label asp-for="Phone"></label>
            <input asp-for="Phone" type="tel" />
        </div>

        <div class="form-field-container">
            <label asp-for="Message"></label>
            <input asp-for="Message" type="tel" />
        </div>

        <!-- Use either the TagHelper reCAPTCHA version... -->
        <recaptcha-v3 asp-for="RecaptchaResponse" action="ContactForm" />

        <!-- ...OR the HtmlHelper reCAPTCHA version -->
        @Html.RecaptchaV3For(m => m.RecaptchaResponse, siteKey: settings.First(RecaptchaType.V3)?.SiteKey, action: "ContactForm")

        <div class="form-field-container">
            <input type="submit" />
        </div>
    </form>
</body>
</html>