.field-container {
    padding-bottom: 15px;
}

.form-field {
    width: 100%;
}

.form-container {
    width: 100%;
}

.tab-content--active {
    display: block !important;
}

.tab-content {
    display: none;
    background-color: #f6f8fa;
    padding: 10px 10px 10px 10px;
}

.token-container {
    display: none;
}

.token-container--visible {
    display: block;
}